html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	font-family: 'Raleway', sans-serif;
}


#fancyfont {
	font-family: 'Lexend Tera', sans-serif;
}


#brand-key {
	color: #FFBF00;
}


#header {
	background-color: grey;
	border: 1px solid grey;
	text-align: center;
}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #f3f3f3;
	position: sticky;
}


li {
	float: left;
	border-right: 1px solid #FFBF00;
}


li a {
	display: block;
	color: #000000;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #ddd;
}

li a.active {
	color: white;
	background-color: #FFBF00;
}
