html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	font-family: 'Raleway', sans-serif;
}


#fancyfont {
	font-family: 'Lexend Tera', sans-serif;
}


#brand-key {
	color: #FFBF00;
}


#header {
	background-color: grey;
	border: 1px solid grey;
	text-align: center;
}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #f3f3f3;
	position: sticky;
}


li {
	float: left;
	border-left: 1px solid #FFBF00;
}


li a {
	display: block;
	color: #000000;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #ddd;
}

li a.active {
	color: white;
	background-color: #FFBF00;
	border-bottom: 1px solid #FFBF00;
}


/*----SubNav---*/
.sub-nav ul{
	background-color: #FFBF00;
}

.sub-nav ul li {
		border-right: 1px solid white;
}

.subnav-button {
	background-color: #FFBF00;
	border: none;
	padding: 14px 16px;
	color: white;
	text-decoration: none;
	
}

.subnav-button:hover {
	background-color: white;
	color: black;
	cursor: pointer;
	
}
	
	
form {
	display:grid;
	overflow: hidden;
	color: black;
	width: 50%;
	margin: auto;
	grid-template-columns: 150px 1fr;
	grid-gap: 16px;

}

label {
	float:left;
    width: 150px;
    padding-right: 24px;
    grid-column: 1 / 2;
}

input, select {
    float: left;
    width: calc(100% - 150px);
    grid-column: 2 / 3;	
}

input[type="checkbox"]{
	width: 20px;
}

input[type="submit"] {
	border: none;
	background: #FFBF00;
	color: white;
	padding: 10px;
}

input[type="submit"]:hover {
	cursor:pointer;
}

.check-label {
	text-align: right;
}

#backButton{
	display: inline-block;
	border: none;
	background: #FFBF00;
	color: white;
	padding: 10px;
	text-decoration: none;
	margin-left: 48%;
}

input:read-only {
	background-color: #D3D3D3;
}
