html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	font-family: 'Raleway', sans-serif;
}


#fancyfont {
	font-family: 'Lexend Tera', sans-serif;
}


#brand-key {
	color: #FFBF00;
}


#header {
	background-color: grey;
	border: 1px solid grey;
	text-align: center;
}


.form {
	margin: auto;
	width: 400px;
	color: black;
	text-align: center;
}


input {
	padding: 5px;
	font-size: inherit;
}


input[type="number"], input[type="password"] {
	display: block;
	width: 100%;
	border: 1px solid #FFBF00;
	background: #FAF6D9;
}

input[type="submit"] {
	width: 80px;
	height: 40px;
	border: none;
	background: #FFBF00;	
}


input[type="submit"]:hover {
	cursor: pointer;
	background-color: grey;
}


input:focus {
	background: white;
}